
<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#46ff65] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#46ff65] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto flex gap-5 flex-wrap sm:flex-nowrap max-w-7xl px-6 lg:px-8">
    <div>
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl" style="width: max-content;"> Portfólio <br> Carlos Eduardo</h2>
      </div>
      <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
        <div class="mt-16 flex justify-evenly  sm:mt-20 sm:flex sm:grid-cols-2 lg:grid-cols-4">
          <div class="flex flex-col-reverse ">
            <div class="circular">
              <div class="inner"></div>
              <div class="outer"></div>
              <div class="numb text-center">
                 5
              </div>
              <div class="circle">
                 <div class="dot">
                    <span></span>
                 </div>
                 <div class="bar left">
                    <div class="progress"></div>
                 </div>
                 <div class="bar right">
                    <div class="progress"></div>
                 </div>
              </div>
           </div>
            <p class="text-2xl font-bold leading-9 tracking-tight text-white text-center mb-5">Experiência</p>
            <!-- <p class="text-2xl font-bold leading-9 tracking-tight text-white text-center">5 anos</p> -->
          </div>
          <div class="flex flex-col-reverse ">
            <div class="circular">
              <div class="inner"></div>
              <div class="outer"></div>
              <div class="numb2 text-center">
                 +600
              </div>
              <div class="circle">
                 <div class="dot">
                    <span></span>
                 </div>
                 <div class="bar left">
                    <div class="progress"></div>
                 </div>
                 <div class="bar right">
                    <div class="progress"></div>
                 </div>
              </div>
            </div>
            <p class="text-2xl font-bold leading-9 tracking-tight text-white text-center mb-5">Alunos</p>
            <!-- <p class="text-2xl font-bold leading-9 tracking-tight text-white text-center">+600</p> -->
          </div>
        </div>
      </div>
    </div>
    <video controls class="flex: 1; aspect-ratio: 16/9;">
      <source src="../assets/apresentacao.mp4" type="video/mp4" />
    </video>
  </div>
</div>
<div class="progress">
  <div class="progress-bar"></div>
</div>








<div class="bg-gradient-to-b from-purple-500 to-violet-700 py-4 sm:py-12 px-6 lg:px-8">
  <div class="mx-auto max-w-7xl">
    <h2 class="text-4xl font-bold tracking-tight text-white sm:text-4xl text-center mb-10" style="color:#31ed2e">Apresentação</h2>
    <div class="flex gap-5 flex-wrap">
      <div style="display: flex; align-items: center; flex:1;">
        <p style="flex:1; text-align: justify;" class="text-base sm:text-xl">Me chamo Carlos, tenho 26 anos, sou um professor de informática apaixonado pela sala de aula. Tenho conhecimento em diversas linguagens de programação, em especial JavaScript, além de outras áreas dentro da informática e conhecimentos que vão além do campo teórico, alcançando o prático também. Sou alguém fácil de ser corrigido e busco o aperfeiçoamento de forma constante. Tenho como método de ensino aulas que mesclam teoria com prática, levando a turma a desenvolver diversos trabalhos ao longo do curso. Incentivo os alunos a tirarem suas dúvidas e trabalho a aula com leveza e bom humor. Acredito em um conteúdo de aula lúdico, objetivo e dinâmico, trazendo sempre exemplos práticos que realmente ocorrem no dia a dia na vida de um programador.</p>
      </div>
      <div class="flex justify-center">
        <img src="../assets/photo.jpeg" class="rounded-full w-3/6 sm:w-8/12">
      </div>
    </div>
    
    <div class="py-4 mt-12 ">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-4xl text-center mb-10" style="color:#31ed2e">Curso de desenvolvimento de aplicativos</h2>

      <div class="w-full gap-5">
        <video controls class="flex: 1; aspect-ratio: 16/9; mx-auto">
          <source src="../assets/apresentacao-curso.mp4" type="video/mp4" />
        </video>

        <div class="sliders-area relative">
          <div class="absolute top-1/2 z-50 left-0 h-16 w-16 cursor-pointer" (click)="voltarSlide()"  style="transform: translateY(-100%) rotate(-45deg); border-radius: 50%; background-color: #31ed2e;">
            <div class="absolute inset-0 flex items-center justify-center">
              <div class="border-t-4 border-l-4  w-8 h-8" style="border-color: #fff;"></div>
            </div>
          </div>
          <div class="absolute top-1/2 z-50 right-0 h-16 w-16 cursor-pointer" (click)="avancarSlide()" style="transform: translateY(-100%) rotate(135deg); border-radius: 50%; background-color: #31ed2e;">
            <div class="absolute inset-0 flex items-center justify-center">
              <div class="border-t-4 border-l-4  w-8 h-8" style="border-color: #fff;"></div>
            </div>
          </div>
          <div class="sliders relative" #sliders style="flex:1;">
            
            <div class="slide">
              <h1 class="text-center text-3xl py-5 font-bold " style="color:#31ed2e">Módulo 1</h1>
              <div class="blocos-area relative">
                
                <div class="flex flex-col gap-5 overflow-auto sm:grid sm:grid-cols-4 [&::-webkit-scrollbar]:hidden">
  
                  <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl">
                    <p class="font-bold  text-center">Introdução a linguagem de programação e algoritmos</p>
                  </div>
    
                  <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl">
                    <p class="font-bold text-center">Introdução ao JavaScript:</p>
                    <p>- O que é JavaScript e sua importância no desenvolvimento web e mobile.</p>
                    <p>- Configuração de ambiente (VS Code, Node.js, etc.).</p>
                  </div>
    
                  <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl ">
                    <p class="font-bold text-center">Sintaxe Básica e Estruturas de Controle:</p>
                    <p>- Declaração de variáveis (var, let, const).</p>
                    <p>- Tipos de dados primitivos (números, strings, booleanos, etc.).</p>
                    <p>- Condicionais (if, else, switch).</p>
                    <p>- Loops (for, while, do...while).</p>
                  </div>
    
                  <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl ">
                    <p class="font-bold text-center">Funções e Escopo:</p>
                    <p>- Definição de funções (declaração e função de seta).</p>
                    <p>- Parâmetros, argumentos e retorno de funções.</p>
                    <p>- Escopo de variáveis (local vs global).</p>
                    <p>- Funções anônimas e callbacks.</p>
                  </div>
    
                  <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl ">
                    <p class="font-bold text-center">Trabalhando com Arrays e Objetos:</p>
                    <p>- Criação e manipulação de arrays (métodos como map, filter, reduce).</p>
                    <p>- Objetos: propriedades e métodos.</p>
                    <p>- Desestruturação de arrays e objetos.</p>
                  </div>
  
                  <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl ">
                    <p class="font-bold text-center">Manipulação de Eventos e Funções Assíncronas:</p>
                    <p>- Introdução a eventos e callbacks.</p>
                    <p>- Promises e async/await.</p>
                    <p>- Manipulação assíncrona de dados e simulação de chamadas a APIs.</p>
                  </div>
  
                  <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl ">
                    <p class="font-bold text-center">Introdução ao ES6+ e Novas Funcionalidades:</p>
                    <p>- Template literals.</p>
                    <p>- Operador spread e rest.</p>
                    <p>- Classes e herança em JavaScript.</p>
                    <p>- Módulos e import/export.</p>
                  </div>
  
                  <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl ">
                    <p class="font-bold text-center">Projeto Prático:</p>
                    <p>- Criar um aplicativo de lista de tarefas (To-Do List) simples usando apenas HTML, CSS e JavaScript.</p>
                    <p>- O projeto foca em interações básicas, manipulação de DOM e armazenamento de dados em localStorage.</p>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="slide">
              <h1 class="text-center text-3xl py-5 font-bold " style="color:#31ed2e">Módulo 2</h1>
              <div class="flex flex-col gap-5 overflow-auto sm:grid sm:grid-cols-4 [&::-webkit-scrollbar]:hidden">
  
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64  shadow-2xl">
                  <p class="font-bold  text-center">**Objetivo:** Introduzir os conceitos básicos do desenvolvimento mobile, a diferença entre aplicativos nativos, híbridos e web apps, além de fundamentos em HTML, CSS e JavaScript.</p>
                </div>
  
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64  shadow-2xl">
                  <p class="font-bold text-center">Introdução ao JavaScript:</p>
                  <p>- Introdução ao desenvolvimento mobile: nativo vs híbrido vs PWA</p>
                  <p>- Configuração do ambiente de desenvolvimento</p>
                  <p>- HTML, CSS e JavaScript</p>
                  <p>- Introdução ao controle de versão com Git</p>
                  <p>- Projeto prático: Criação de um app simples em HTML5, CSS e JavaScript</p>
                </div>
              </div>
            </div>

            <div class="slide">
              <h1 class="text-center text-3xl py-5 font-bold " style="color:#31ed2e">Módulo 3</h1>
              <div class="flex flex-col gap-5 overflow-auto sm:grid sm:grid-cols-4 [&::-webkit-scrollbar]:hidden">
                               
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64  shadow-2xl">
                  <p class="font-bold  text-center">**Objetivo:** Introduzir os conceitos básicos do desenvolvimento mobile, a diferença entre aplicativos nativos, híbridos e web apps, além de fundamentos em HTML, CSS e JavaScript.</p>
                </div>

                <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl ">
                  <p class="font-bold text-center">Introdução ao JavaScript:</p>
                  <p>- Introdução ao desenvolvimento mobile: nativo vs híbrido vs PWA</p>
                  <p>- Configuração do ambiente de desenvolvimento</p>
                  <p>- HTML, CSS e JavaScript</p>
                  <p>- Introdução ao controle de versão com Git</p>
                  <p>- Projeto prático: Criação de um app simples em HTML5, CSS e JavaScript</p>
                </div>

                <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl">
                  <p class="font-bold text-center">Introdução ao Desenvolvimento Mobile:</p>
                  <p>- Contextualização do mercado mobile e sua evolução</p>
                  <p>- Principais plataformas: Android e iOS</p>
                  <p>- Diferença entre aplicativos nativos, híbridos e multiplataforma</p>
                  <p>- Oportunidades e desafios no desenvolvimento mobile</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl">
                  <p class="font-bold text-center">Arquitetura e Plataformas Mobile:</p>
                  <p>- Estrutura dos sistemas operacionais Android e iOS</p>
                  <p>- Componentes principais: Activities, Fragments, ViewControllers</p>
                  <p>- Diferença entre desenvolvimento nativo e multiplataforma</p>
                  <p>- Prós e contras de cada abordagem</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl">
                  <p class="font-bold text-center">Ferramentas de Desenvolvimento e Ambientes de Trabalho:</p>
                  <p>- Configuração do ambiente de desenvolvimento (Android Studio, Xcode)</p>
                  <p>- Emuladores e dispositivos físicos para testes</p>
                  <p>- Introdução ao uso de Git para controle de versão</p>
                  <p>- Configuração de projetos e melhores práticas para organização</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl">
                  <p class="font-bold text-center">Princípios de Design para Mobile:</p>
                  <p>- Noções de UX e UI aplicadas ao mobile</p>
                  <p>- Guidelines de design: Material Design e Human Interface Guidelines</p>
                  <p>- Design responsivo e adaptável para diferentes telas</p>
                  <p>- Boas práticas de acessibilidade e usabilidade</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl">
                  <p class="font-bold text-center">Fundamentos de Programação para Mobile:</p>
                  <p>- Introdução às linguagens usadas no desenvolvimento mobile</p>
                  <p>- Estrutura básica de um aplicativo (layouts, views, activities)</p>
                  <p>- Ciclo de vida de uma aplicação (activity lifecycle, view controller lifecycle)</p>
                  <p>- Noções básicas de manipulação de dados e persistência</p>
                </div>
              </div>
            </div>
            <div class="slide">
              <h1 class="text-center text-3xl py-5 font-bold " style="color:#31ed2e">Módulo 4</h1>
              <div class="flex flex-col gap-5 overflow-auto sm:grid sm:grid-cols-4 [&::-webkit-scrollbar]:hidden">
  
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64 shadow-2xl ">
                  <p class="font-bold  text-center">**Objetivo:** Ensinar a criar aplicativos multiplataforma utilizando React Native, focando em componentes, navegação e estilização.</p>
                </div>

                <div class="bg-white py-5 px-3 rounded-2xl min-w-6 shadow-2xl4">
                  <p class="font-bold text-center">Introdução ao React Native:</p>
                  <p>- O que é React Native e como ele funciona</p>
                  <p>- Comparação com desenvolvimento nativo (Android e iOS)</p>
                  <p>- Vantagens e limitações do React Native</p>
                  <p>- Configuração inicial do ambiente de desenvolvimento</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Fundamentos do React Native:</p>
                  <p>- Estrutura básica de um projeto React Native</p>
                  <p>- Componentes fundamentais: View, Text, Image, ScrollView</p>
                  <p>- Estilização com Flexbox e Stylesheets</p>
                  <p>- Manipulação de eventos e navegação</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Componentes e Reutilização de Código:</p>
                  <p>- Criação e reutilização de componentes personalizados</p>
                  <p>- Props e State: gerenciamento de dados nos componentes</p>
                  <p>- Hooks básicos: useState e useEffect</p>
                  <p>- Práticas para organização e modularização do código</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Navegação em Aplicativos React Native:</p>
                  <p>- Introdução à biblioteca React Navigation</p>
                  <p>- Navegação Stack, Tab e Drawer</p>
                  <p>- Passagem de parâmetros entre telas</p>
                  <p>- Configuração e personalização da navegação</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Integração com APIs e Gerenciamento de Estado:</p>
                  <p>- Consumo de APIs REST com Axios ou Fetch</p>
                  <p>- Gerenciamento de estado global com Context API e Redux</p>
                  <p>- Introdução ao React Query para sincronização de dados</p>
                  <p>- Boas práticas para lidar com dados assíncronos</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Publicação e Manutenção de Aplicativos:</p>
                  <p>- Gerando builds para Android (APK) e iOS (IPA)</p>
                  <p>- Processo de publicação nas lojas (Google Play Store e Apple App Store)</p>
                  <p>- Configuração de atualizações Over-The-Air (OTA) com Expo ou CodePush</p>
                  <p>- Boas práticas para monitoramento e manutenção contínua</p>
                </div>
                
              </div>
            </div>
            <div class="slide">
              <h1 class="text-center text-3xl py-5 font-bold " style="color:#31ed2e">Módulo 5</h1>
              <div class="flex flex-col gap-5 overflow-auto sm:grid sm:grid-cols-4 [&::-webkit-scrollbar]:hidden">
  
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64 ">
                  <p class="font-bold  text-center">**Objetivo:** Ensinar os conceitos básicos de design e estilização no React Native, permitindo que os alunos criem interfaces simples e responsivas.</p>
                </div>

                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Introdução à Estilização com React Native:</p>
                  <p>- Como funciona a estilização no React Native</p>
                  <p>- Diferenças entre CSS tradicional e o StyleSheet do React Native</p>
                  <p>- Entendendo Flexbox no contexto mobile</p>
                  <p>- Configuração de estilos globais e temáticos</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Estilização de Componentes e Layouts:</p>
                  <p>- Estilizando View, Text e outros componentes nativos</p>
                  <p>- Criando layouts responsivos com Flexbox</p>
                  <p>- Manipulação de margens, paddings e bordas</p>
                  <p>- Controle de posicionamento e alinhamento</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Estilos Dinâmicos e Tematização:</p>
                  <p>- Aplicação de estilos dinâmicos com base em props</p>
                  <p>- Usando o StyleSheet API para criar temas reutilizáveis</p>
                  <p>- Alternância entre temas claro e escuro</p>
                  <p>- Integração de bibliotecas de tematização como styled-components</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Fontes, Cores e Imagens:</p>
                  <p>- Personalização de fontes e tamanhos de texto</p>
                  <p>- Trabalhando com paletas de cores e gradientes</p>
                  <p>- Manipulação de imagens: redimensionamento e posicionamento</p>
                  <p>- Uso de SVGs e ícones personalizados em React Native</p>
              </div>

              <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                <p class="font-bold text-center">Animações e Transições Básicas:</p>
                <p>- Introdução ao Animated API</p>
                <p>- Criando animações simples com React Native</p>
                <p>- Transições entre estados e componentes</p>
                <p>- Boas práticas para garantir desempenho em animações</p>
              </div>
              
              <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                <p class="font-bold text-center">Boas Práticas de Design e Usabilidade:</p>
                <p>- Princípios de design mobile: simplicidade e foco no usuário</p>
                <p>- Considerações de acessibilidade ao criar interfaces</p>
                <p>- Testando e ajustando responsividade para diferentes dispositivos</p>
                <p>- Implementação de feedbacks visuais (toques, estados de carregamento)</p>
              </div>
            </div>
            </div>
            <div class="slide">
              <h1 class="text-center text-3xl py-5 font-bold " style="color:#31ed2e">Módulo 6</h1>
              <div class="flex flex-col gap-5 overflow-auto sm:grid sm:grid-cols-4 [&::-webkit-scrollbar]:hidden">
  
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64 ">
                  <p class="font-bold  text-center">**Objetivo:** Ensinar os conceitos básicos de design e estilização no React Native, permitindo que os alunos criem interfaces simples e responsivas.</p>
                </div>

                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Introdução ao Acesso a Recursos Nativos:</p>
                  <p>- Entendendo a ponte JavaScript-Nativo no React Native</p>
                  <p>- Quando e por que utilizar módulos nativos</p>
                  <p>- Visão geral das APIs nativas mais usadas</p>
                  <p>- Instalação e configuração de bibliotecas nativas</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Acesso a Sensores e Hardware:</p>
                  <p>- Utilizando a câmera e galeria de fotos</p>
                  <p>- Acesso à geolocalização e mapas</p>
                  <p>- Manipulação do acelerômetro e giroscópio</p>
                  <p>- Controle de vibração e lanternas no dispositivo</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Integração com Serviços de Terceiros:</p>
                  <p>- Autenticação com Firebase e OAuth</p>
                  <p>- Integração com APIs de pagamento (Stripe, PayPal)</p>
                  <p>- Envio de notificações push com Firebase Cloud Messaging (FCM)</p>
                  <p>- Uso de bibliotecas populares para integração com APIs (React Native Firebase, etc.)</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Gerenciamento de Permissões:</p>
                  <p>- Solicitação de permissões para acesso a recursos</p>
                  <p>- Controle de permissões no Android e iOS</p>
                  <p>- Uso da biblioteca react-native-permissions</p>
                  <p>- Boas práticas para lidar com recusas de permissões</p>
                </div>
                
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Armazenamento e Persistência de Dados:</p>
                  <p>- Armazenamento local com AsyncStorage e SecureStore</p>
                  <p>- Banco de dados locais: SQLite e Realm</p>
                  <p>- Sincronização de dados offline com Redux Persist</p>
                  <p>- Melhores práticas para persistência e segurança de dados</p>
                </div>
              </div>
            </div>

            <div class="slide">
              <h1 class="text-center text-3xl py-5 font-bold " style="color:#31ed2e">Módulo 7</h1>
              <div class="flex flex-col gap-5 overflow-auto sm:grid sm:grid-cols-4 [&::-webkit-scrollbar]:hidden">
  
                <div class="bg-white py-5 px-3 rounded-2xl min-w-64 ">
                  <p class="font-bold  text-center">**Objetivo:** Consolidar os conhecimentos adquiridos no curso, desenvolver um projeto final e aprender sobre boas práticas no desenvolvimento mobile.</p>
                </div>

                <div class="bg-white py-5 px-3 rounded-2xl min-w-64">
                  <p class="font-bold text-center">Introdução ao Acesso a Recursos Nativos:</p>
                  <p>- Gerenciamento de projetos e versionamento de código avançado</p>
                  <p>- Princípios de design de interface (UI) e experiência do usuário (UX)</p>
                  <p>- Otimização de performance e boas práticas de desenvolvimento</p>
                  <p>- Desenvolvendo para acessibilidade</p>
                  <p>- Projeto final: Desenvolvimento completo de um aplicativo original</p>
                </div>
                
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

<footer style="background-color: #31064b; display: flex; justify-content: center;">
  <img src="../assets/rodapecerrado-1-1024x178.webp" alt="">
</footer>